/* 
   .root-screen is the main background style used by most screens
   such as dashboard, sales, inventory, menu management, and cash management.
   It applies background.png as the full-screen background image.
*/
.root-screen {
    /* Sets the background image file */
    -fx-background-image: url("book_bg.png");

    /* Prevents the image from repeating */
    -fx-background-repeat: no-repeat;

    /* Centers the image in the screen */
    -fx-background-position: center center;

    /* Stretches the image to fill the whole screen */
    -fx-background-size: cover;
}

.root-menu {
    /* Sets the background image file */
    -fx-background-image: url("Potion_Menu_bg.png");

    /* Prevents the image from repeating */
    -fx-background-repeat: no-repeat;

    /* Centers the image in the screen */
    -fx-background-position: center center;

    /* Stretches the image to fill the whole screen */
    -fx-background-size: cover;
}

.root-sales {
    /* Sets the background image file */
    -fx-background-image: url("Potions_bg2.png");

    /* Prevents the image from repeating */
    -fx-background-repeat: no-repeat;

    /* Centers the image in the screen */
    -fx-background-position: center center;

    /* Stretches the image to fill the whole screen */
    -fx-background-size: cover;
}

/* 
   .login-screen is the background style used only for the login screen.
   It applies login_background.png as the full-screen background image.
*/
.login-screen {
    /* Sets the login screen background image file */
    -fx-background-image: url("wood_bg.png");

    /* Prevents the image from repeating */
    -fx-background-repeat: no-repeat;

    /* Centers the image in the screen */
    -fx-background-position: center center;

    /* Stretches the image to fill the whole screen */
    -fx-background-size: cover;
}